# Distributed under the MIT License.
# See LICENSE.txt for details.

# Compiled files
binary
*.gch
*.o
bin/
lib/
build/

# Data files
*.csv

# Editor preferences
.vscode

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
